.btn-icon{
  padding-left:25px;
}

.small-icon{
  width:20px !important;
  height:20px !important;
  background-position:center center !important;
  background-repeat:no-repeat !important;
}

/* =List icons
-------------------------------------------------------------- */

.icon-edit{
  display:block;
  text-indent:-9999px;
  background-image:url("../img/icons/list/edit.png") !important;
}
.icon-delete{
  display:block;
  text-indent:-9999px;
  background-image:url("../img/icons/list/delete.png") !important;
}
