/* INDEX

  - main
  - logo
  - content
  - topbar
  - page left
  - tooltip
  - form
  - popup
  - tabs
  - table
  
--------------------------------------*/

/*------------------------------------*\
  font
\*------------------------------------*/

/* ------------ MUSEO SANS ------------ */


/* ------------ 900 ------------ */

@font-face {
  font-family: 'museo_sans900';
  src: url('../font/museosans_900-webfont.eot');
  src: url('../font/museosans_900-webfont.eot?#iefix') format('embedded-opentype'),
       url('../font/museosans_900-webfont.woff') format('woff'),
       url('../font/museosans_900-webfont.ttf') format('truetype'),
       url('../font/museosans_900-webfont.svg#museo_sans900') format('svg');
  font-weight: normal;
  font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'museo_sans900';
    src: url('../font/museosans_900-webfont.svg#museo_sans900') format('svg');
    font-weight: normal;
    font-style: normal;
  }
}
/*------------------------------------*\
	GLOBAL
\*------------------------------------*/

::-webkit-scrollbar-track-piece{
  background-color:#fff;
  -webkit-border-radius:0;
}
::-webkit-scrollbar{
  width:9px;
  height:8px;
}
::-webkit-scrollbar-thumb{
  height:50px;
  background-color:#999;
  -webkit-border-radius:4px;
  outline:2px solid #fff;
  outline-offset:-2px;
  border: 2px solid #fff;
}
::-webkit-scrollbar-thumb:hover{
  height:50px;
  background-color:#9f9f9f;
  -webkit-border-radius:4px;
}

/* =Tools
--------------------------------------

Example:

[toggle description]
  [a:trigger]
    txt
    l1
    l2(hidden)
  [/a]
  [hidden-wrapper/]
[/]

*/

.hidden{
  display:none; 
}
  
.toggle-wrapper .toggle.hidden{
  display:none;
}

  .toggle-wrapper.open .trigger .toggle{
    display:none;
  }
  .toggle-wrapper.open .trigger .toggle.hidden{
    display:inline;
  }

.toggle-wrapper.open .hidden.description{
  display:block;
}


/* =
--------------------------------------*/

html, body{
  height:100%;
}

body{
  background-color:#d2e5f9;
	font-family:Arial, sans-serif;
  color:#515151;
  font-size:12px;
}

a{
  text-decoration:none;
  color:#343943;
}
a:hover{
  text-decoration:underline;
}
:focus{
  outline:none;
}

/* =Logo
--------------------------------------*/
  #logo{
    float:left;
    position:relative;
    z-index:5;
    width:240px;
    height:54px;
    background: #2b3241;
    background:-webkit-gradient(linear, 0 0, 0 bottom, from(#2b3241), to(#252b37));
    background:-webkit-linear-gradient(#2b3241, #252b37);
    background:-moz-linear-gradient(#2b3241, #252b37);
    background:-ms-linear-gradient(#2b3241, #252b37);
    background:-o-linear-gradient(#2b3241, #252b37);
    background:linear-gradient(#2b3241, #252b37);
    /*background: url('../img/logo_seperator.png') right no-repeat, -webkit-gradient(linear, 0 0, 0 bottom, from(#2b3241), to(#252b37));
    background: url('../img/logo_seperator.png') right no-repeat, -webkit-linear-gradient(#2b3241, #252b37);
    background: url('../img/logo_seperator.png') right no-repeat, -moz-linear-gradient(#2b3241, #252b37);
    background: url('../img/logo_seperator.png') right no-repeat, -ms-linear-gradient(#2b3241, #252b37);
    background: url('../img/logo_seperator.png') right no-repeat, -o-linear-gradient(#2b3241, #252b37);
    background: url('../img/logo_seperator.png') right no-repeat, linear-gradient(#2b3241, #252b37);*/
    border-bottom:3px solid #fff;
  }
  #logo > a{
    width:220px;
    height:54px;
    display:block;
    color:#fff;
    font-family:'museo_sans900';
    font-weight:normal;
    line-height:57px;
    padding-left:20px;
    font-size:26px;
    /*background:url('../img/logo/logo.png') no-repeat 20px center;*/
  }
  #logo > a:hover{
    text-decoration:none;
  }

body.cursor_resizing{
  cursor: col-resize;
}
body.cursor_disabled{
  cursor: not-allowed;
}

/* =Content
--------------------------------------*/
  #page-main-left{
    background:#fff;
    border-right:1px solid #bcbcbc;
  }

/* =Topbar
--------------------------------------*/
  #page-topbar{
    position:absolute;
    top:0;
    left:0;
    z-index:2;
    width:100%;
    height:54px;
    background: #1b1f29;
    background: url('../img/logo_seperator.png') right no-repeat, -webkit-gradient(linear, 0 0, 0 bottom, from(#2b3241), to(#1b1f29));
    background: url('../img/logo_seperator.png') right no-repeat, -webkit-linear-gradient(#2b3241, #1b1f29);
    background: url('../img/logo_seperator.png') right no-repeat, -moz-linear-gradient(#2b3241, #1b1f29);
    background: url('../img/logo_seperator.png') right no-repeat, -ms-linear-gradient(#2b3241, #1b1f29);
    background: url('../img/logo_seperator.png') right no-repeat, -o-linear-gradient(#2b3241, #1b1f29);
    background: url('../img/logo_seperator.png') right no-repeat, linear-gradient(#2b3241, #1b1f29);
    border-bottom:3px solid #fff;
  }
    /* #topbar_menu in main styles @/root/site/includes/css/ */
  



#page-main-left .dropdown{width:auto;margin:0px; padding:0px;}
#page-main-left .dropdown dd, #page-main-left .dropdown dt, #page-main-left .dropdown ul{ margin:0px; padding:0px; }
#page-main-left .dropdown dd { position:relative; }
#page-main-left .dropdown a {
  color:#333435;
  text-decoration:none;
  outline:none;
  font-size:12px;
  padding:10px 20px;
  display:block;
}
#page-main-left .dropdown a:hover{
  color:#000;
}
#page-main-left .dropdown dt{
  background: url('../img/icons/dropdown-arrow-nobar.png') right center no-repeat, -webkit-gradient(linear, 0 0, 0 bottom, from(#d1d2d4), to(#c6c7c9));
  background: url('../img/icons/dropdown-arrow-nobar.png') right center no-repeat, -webkit-linear-gradient(#d1d2d4, #c6c7c9);
  background: url('../img/icons/dropdown-arrow-nobar.png') right center no-repeat, -moz-linear-gradient(#d1d2d4, #c6c7c9);
  background: url('../img/icons/dropdown-arrow-nobar.png') right center no-repeat, -ms-linear-gradient(#d1d2d4, #c6c7c9);
  background: url('../img/icons/dropdown-arrow-nobar.png') right center no-repeat, -o-linear-gradient(#d1d2d4, #c6c7c9);
  display:block; 
  border-bottom:1px solid #bcbcbc;
  font-weight:bold;
  font-size:13px;
}
#page-main-left .dropdown dd{
  position:absolute;
  top:33px;
  right:0;
  left:0;
}
                
#page-main-left .dropdown dt a span {cursor:pointer; display:block;}
#page-main-left .dropdown dd ul {
  font-size:13px;
  display:block;
  background:#fff none repeat scroll 0 0;
  border-bottom:1px solid #bfcedd;
  color:#5b6b7a;
  display:none;
  left:0px; 
  padding:0px 0px; 
  position:relative;
  list-style:none;
  -moz-box-shadow: 0px 2px 4px rgba(110,139,160,0.5);
  -webkit-box-shadow: 0px 2px 4px rgba(110,139,160,0.5);
  box-shadow: 0px 2px 4px rgba(110,139,160,0.5);
  -webkit-background-clip: padding-box;
}
#page-main-left .dropdown dd ul li a{
  padding:10px 20px;
  display:block;
}
#page-main-left .dropdown dd li input{
  margin:10px 20px;
  width:195px;
}
#page-main-left .dropdown dd ul li a:hover { background-color:#d2e5f9;color:#2692ee;}

#page-main-left .actions-menu{
}
#page-main-left .menu-items-list{
  position:absolute;
  top:47px;
  width:100%;
  bottom:32px;
  list-style:none;
  margin:0;
  padding:0;
  font-weight:bold;
  overflow-x:hidden;
  overflow-y:auto;
}

#page-main-left .menu-items-list li.depth_1 > ul{
  border-bottom:1px solid #d6dce1;
}
  .multisite #page-main-left .menu-items-list{
    /*top:82px;*/
  }
#page-main-left .menu-items-list ul{
  list-style:none;
  margin:0;
  padding:0;
  font-weight:normal;
  margin-left:-20px;
  padding-left:20px;
}
#page-main-left .menu-items-list li{
  padding-left:40px;
  margin-left:-20px;
}
#page-main-left .menu-items-list li a{
  display:block;
  padding:10px 0;
  border-bottom:1px solid #d6dce1;
}
#page-main-left .menu-items-list a.active{
  background-color:#E2E2E2;
}
#page-main-left .menu-items-list > li a:hover{
  text-decoration:none;
  color:#343943 !important;
}
#page-main-left .menu-items-list li a{
  margin-left:-20px;
  padding-left:20px;
}
#page-main-left .menu-items-list li.has-sub > a{
  background:url('../img/icons/left-menu-arrow-inactive.png') 20px center no-repeat;
}
#page-main-left .menu-items-list li.has-sub > a:hover{
  background:#d2e5f9 url('../img/icons/left-menu-arrow-inactive.png') 20px center no-repeat;
}
#page-main-left .menu-items-list li.has-sub.active > a{
  background:url('../img/icons/left-menu-arrow.png') 20px center no-repeat;
}
#page-main-left .menu-items-list li.has-sub.active > a:hover{
  background:#d2e5f9 url('../img/icons/left-menu-arrow.png') 20px center no-repeat;
}
#page-main-left .menu-items-list li:first-child a{
  border-top:none;
}
#page-main-left .menu-items-list li li a{
  font-size:12px; 
  text-decoration:none;
  display:block;
  color:#5b6b7a;
  padding:6px 0;
  border-top:none;
  border-bottom:none;
}
#page-main-left .menu-items-list li li{
  margin-left:0;
}
#page-main-left .menu-items-list li li a{
  margin-left:-40px;
  padding-left:15px;
}
#page-main-left .menu-items-list li li.has-sub > a{
  background:url('../img/icons/left-menu-arrow-inactive.png') 40px center no-repeat;
}
#page-main-left .menu-items-list li li.has-sub > a:hover{
  background:#d2e5f9 url('../img/icons/left-menu-arrow-inactive.png') 40px center no-repeat;
}
#page-main-left .menu-items-list li li.has-sub.active > a{
  background:url('../img/icons/left-menu-arrow.png') 20px center no-repeat;
}
#page-main-left .menu-items-list li li.has-sub.active > a:hover{
  background:#d2e5f9 url('../img/icons/left-menu-arrow.png') 20px center no-repeat;
}
#page-main-left .menu-items-list li li li a{
  padding:4px 0;
  border-top:none;
  border-bottom:none;
  margin-left:-10px;
  padding-left:15px;
}
#page-main-left .menu-items-list li li li{
  margin-left:-25px;
  padding-left:10px;
}
#page-main-left .menu-items-list li li li.hassub > a{
  background:url('../img/icons/left-menu-arrow-inactive.png')60px center no-repeat;
}
#page-main-left .menu-items-list li li li.hassub > a:hover{
  background:#d2e5f9 url('../img/icons/left-menu-arrow-inactive.png')60px center no-repeat;
}
#page-main-left .menu-items-list li li li.has-sub.active > a{
  background:url('../img/icons/left-menu-arrow.png') 20px center no-repeat;
}
#page-main-left .menu-items-list li li li.has-sub.active > a:hover{
  background:#d2e5f9 url('../img/icons/left-menu-arrow.png') 20px center no-repeat;
}
#page-main-left .menu-items-list li a:hover{
  background:#d2e5f9;
  color:#54a8f1;
}
#page-main-left .menu-items-list li li li li{
  margin-left:5px;
}
#page-main-left .menu-items-list li li li li a{
  padding-left:15px;
}
#page-main-left .menu-items-list li li li li li{
  margin-left:15px;
}
#page-main-left .menu-items-list li li li li li li{
  margin-left:15px;
}
#page-main-left .menu-items-list li li li li li li li{
  margin-left:15px;
}
#page-main-left .menu-items-list li li li li li li li li{
  margin-left:15px;
}

#widget_bar{
  border-top:1px solid #d6dce1;
  position:absolute;
  bottom:0;
  height:17px;
  padding:7px 0;
  width:100%;
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #e2e2e2 4%, #e2e2e2 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(4%,#e2e2e2), color-stop(100%,#e2e2e2)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffffff 0%,#e2e2e2 4%,#e2e2e2 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffffff 0%,#e2e2e2 4%,#e2e2e2 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, #ffffff 0%,#e2e2e2 4%,#e2e2e2 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#e2e2e2',GradientType=0 ); /* IE6-9 */
  background: linear-gradient(top, #ffffff 0%,#e2e2e2 4%,#e2e2e2 100%); /* W3C */
  -webkit-background-clip: padding-box;
}
  #widget_bar .inner{
    margin:0 10px !important;
    position:relative;
  }
    #configbar{
      list-style:none;
      margin:0;
      padding:0;
    }
    #configbar li{
      float:left;
      margin-right:8px;
    }
    #configbar a{
      display:block;
      width:17px;
      height:17px;
      background:transparent center center no-repeat;
      text-indent:-9999px;
      opacity:0.3;
      /* Firefox */
      -moz-transition-property: opacity;
      -moz-transition-duration: 0.2s;
      /* WebKit */
      -webkit-transition-property: opacity;
      -webkit-transition-duration: 0.2s;
      /* Opera */
      -o-transition-property: opacity;
      -o-transition-duration: 0.2s;
      /* Standard */
      transition-property: opacity;
      transition-duration: 0.2s;
    }
    #configbar a:hover{
      opacity:1;
    }
    #configbar .cms-pages a{
      background-image:url('../img/icons/configbar/cms-pages.png');
    }
    #configbar .account-accounts a{
      background-image:url('../img/icons/configbar/account-accounts.png');
    }
    #configbar .cms-settings a{
      background-image:url('../img/icons/configbar/cms-settings.png');
    }
    #configbar .booking-bookings a{
      background-image:url('../img/icons/configbar/booking-bookings.png');
      opacity:0.4;
    }
    #configbar .rgo__contact-contact_admin a{
      opacity:0.9;
      background-image:url('../img/icons/configbar/rgo__contact-contact_admin.png');
    }
    #configbar .calendar-events_admin a{
      opacity:0.9;
      background-image:url('../img/icons/configbar/calendar-events_admin.png');
    }
    #configbar .cms-instructions a{
      opacity:0.9;
      background-image:url('../img/icons/configbar/cms-instructions.png');
    }

    #configbar .booking-bookings a:hover{
      opacity:1;
    }
    #configbar .gallery-gallery_admin,
    #configbar .rgo__gallery-gallery_admin{
      background-position : center center;
      background-image:url(http://www.projectkoorpaulus.nl/wp-content/themes/extreme/images/icon_gallery.gif);
      background-repeat:no-repeat;
    }
    #configbar .narville-items{
      background-image:url(../../../../components/narville/includes/img/configbar_icon.png);
    }
    #configbar .language-language_admin{
      background-image:url(http://cdn1.iconfinder.com/data/icons/finalflags/16/Netherlands-Flag.png);
      opacity:0.3;
    }
    #configbar .language-language_admin:hover{
      opacity:1;
    }
    #configbar .outdoor_catalog-catalog_admin,
    #configbar .pnelis_catalog-catalog_admin{
      background-image:url(http://cdn1.iconfinder.com/data/icons/duesseldorf/16/basket.png);
      opacity:0.3;
    }
    #configbar .outdoor_catalog-catalog_admin:hover,
    #configbar .pnelis_catalog-catalog_admin:hover{
      opacity:1;
    }
    #configbar .menu-menus{
      background: -moz-linear-gradient(#2B3241, #1B1F29) repeat scroll 0 0 transparent;
    }

    #widget_bar .widget-slider{
      cursor: col-resize;
      position:absolute;
      right:10px;
      top:0px;
      height:15px;
      width:8px;
      background:url('../img/icons/triple-border.png') no-repeat;
    }

/* =Tooltip
--------------------------------------*/

  a:hover .tooltip{
    display:inline-block;
  }
  .tooltip{
    white-space:nowrap;
    text-indent:0;
    font-size:11px;
    text-align:center;
    display:inline-block;
    color:#fff;
  }
  .tooltip-arrow{
    opacity:0.8;
    height:7px;
    background:url('../img/tooltip-arrow.png') top center no-repeat;
  }
  .tooltip-content{
    padding:2px 5px;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    background:rgba(0,0,0,0.8);
  }



  .desc { color:#6b6b6b;}
  .desc a {color:#0092dd;}
  
  #page_center .dropdown{width:auto;}
  #page_center .dropdown dd, #page_center .dropdown dt, #page_center .dropdown ul { margin:0px; padding:0px; }
  #page_center .dropdown dd { position:relative; }
  #page_center .dropdown a, #page_center .dropdown a:visited { color:#333435; text-decoration:none; outline:none;font-size:12px;}
  #page_center .dropdown dt a {
    background: url('../img/icons/dropdown-arrow.png') right center no-repeat, -webkit-gradient(linear, 0 0, 0 bottom, from(#eeeeee), to(#e3e3e3));
    background: url('../img/icons/dropdown-arrow.png') right center no-repeat, -webkit-linear-gradient(#eeeeee, #e3e3e3);
    background: url('../img/icons/dropdown-arrow.png') right center no-repeat, -moz-linear-gradient(#eeeeee, #e3e3e3);
    background: url('../img/icons/dropdown-arrow.png') right center no-repeat, -ms-linear-gradient(#eeeeee, #e3e3e3);
    background: url('../img/icons/dropdown-arrow.png') right center no-repeat, -o-linear-gradient(#eeeeee, #e3e3e3);
    display:inline-block; 
    padding-right:20px;
    border:1px solid #bcbcbc; 
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    -webkit-background-clip: padding-box;
  }
                  
  #page_center .dropdown dt a span {cursor:pointer; display:inline-block; padding:3px 5px;}
  #page_center .dropdown dd ul {
    background:#fff none repeat scroll 0 0;
    border:1px solid #bfcedd;
    color:#5b6b7a;
    display:none;
    left:0px; 
    padding:5px 0px; 
    position:absolute;
    top:-1px;
    width:auto;
    list-style:none;
    margin-right:20px;
    border-bottom-left-radius:3px;
    border-bottom-right-radius:3px;
    -moz-border-radius-bottomleft:3px;
    -moz-border-radius-bottomright:3px;
    -webkit-border-bottom-left-radius:3px;
    -webkit-border-bottom-right-radius:3px;
    -webkit-background-clip: padding-box;
  }
  #page_center .dropdown dd ul li a { 
    padding:5px; 
    display:block;
  }
  #page_center .dropdown dd ul li a:hover { background-color:#d2e5f9;color:#2692ee;}
  
/* =Popup
--------------------------------------*/

.popup-wrapper{
  -moz-box-shadow: 1px 2px 3px rgba(52,57,67,0.2);
  -webkit-box-shadow: 1px 2px 3px rgba(52,57,67,0.2);
  box-shadow: 1px 2px 3px rgba(52,57,67,0.2);
}
.popup-wrapper .popup-header{
  background: #666666; /* Old browsers */
  background: -moz-linear-gradient(top, #52575f 0%, #343943 4%, #343943 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#52575f), color-stop(2%,#343943), color-stop(100%,#343943)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #52575f 0%,#343943 4%,#343943 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #52575f 0%,#343943 4%,#343943 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, #52575f 0%,#343943 4%,#343943 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#52575f', endColorstr='#343943',GradientType=0 ); /* IE6-9 */
  background: linear-gradient(top, #52575f 0%,#343943 4%,#343943 100%); /* W3C */
  border-top-left-radius:4px;
  border-top-right-radius:4px;
  -moz-border-radius-topleft:4px;
  -moz-border-radius-topright:4px;
  -webkit-border-top-left-radius:4px;
  -webkit-border-top-right-radius:4px;
  -webkit-background-clip: padding-box;
  color:#fff;
  text-align:center;
  font-size:14px;
  padding:7px 10px;
  text-shadow:1px 1px 0px rgba(0,0,0,0.8);
}  
.popup-wrapper .popup-content{
  padding:10px;
  text-align:center;
  background: #fff; /* Old browsers */
  border-bottom-left-radius:4px;
  border-bottom-right-radius:4px;
  -moz-border-radius-bottomleft:4px;
  -moz-border-radius-bottomright:4px;
  -webkit-border-bottom-left-radius:4px;
  -webkit-border-bottom-right-radius:4px;
  -webkit-background-clip: padding-box;
  color:#343943;
  font-size:12px;
}

/* =Tabs
--------------------------------------*/
/**
 * Admin-box
 */

.tab-content{
  position:absolute;
  left:193px;
  right:10px;
  padding:0px 20px 20px 20px;
  background:#fff;
  min-height:350px;
}
.tabs{
  width:150px;
  margin-bottom:-2px;
  background:#fff;
}
.tab-content:after,
.tabs > ul:after {
 content: ".";
 display: block;
 height: 0;
 visibility: hidden;
 clear: both;
}

.tabs > ul{
  padding-right:10px;
  position:absolute;
  margin-left:0;
  height:70%;
  overflow-x:hidden;
  overflow-y:auto;
  width:150px;
}
#page-main-right .tabs > ul > li{
  padding:10px 10px 10px 10px;
  border-radius:4px 4px 4px 4px;
  -moz-border-radius:4px 4px 4px 4px;
  -webkit-border-radius:4px 4px 4px 4px;
  -webkit-background-clip: padding-box;
  margin:0;
  margin-bottom:10px;
  background:#eee;
  border:1px solid #eee;
  /*box-shadow:1px 1px 1px rgba(188,188,188,1) inset; */
}
.tabs > ul > li > a{
  display:block;
  text-decoration:none;
  line-height:25px;
  padding:0 10px;
  border-radius:4px 4px 4px 4px;
  -moz-border-radius:4px 4px 4px 4px;
  -webkit-border-radius:4px 4px 4px 4px;
  -webkit-background-clip: padding-box;
  color:#515151;
  background: #666666; /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #e3e3e3 4%, #ffffff 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(2%,#e3e3e3), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffffff 0%,#e3e3e3 4%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffffff 0%,#e3e3e3 4%,#ffffff 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, #ffffff 0%,#e3e3e3 4%,#ffffff 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3e3e3', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
  background: linear-gradient(top, #ffffff 0%,#e3e3e3 4%,#ffffff 100%); /* W3C */
  border:1px solid #bcbcbc;
}
.tabs > ul > li > a.selected,
.tabs > ul > li > a.active{
  display:block;
  text-decoration:none;
  color:#fff;
  line-height:25px;
  padding:0 10px;
  border-radius:4px 4px 4px 4px;
  -moz-border-radius:4px 4px 4px 4px;
  -webkit-border-radius:4px 4px 4px 4px;
  -webkit-background-clip: padding-box;
  background: #666666; /* Old browsers */
  font-weight:bold;
  text-shadow:1px 1px 0px rgba(0,0,0,0.8);
  background: -moz-linear-gradient(top, #52575f 0%, #343943 4%, #343943 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#52575f), color-stop(2%,#343943), color-stop(100%,#343943)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #52575f 0%,#343943 4%,#343943 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #52575f 0%,#343943 4%,#343943 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, #52575f 0%,#343943 4%,#343943 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#52575f', endColorstr='#343943',GradientType=0 ); /* IE6-9 */
  background: linear-gradient(top, #52575f 0%,#343943 4%,#343943 100%); /* W3C */
  border:1px solid #515151;
}
.tabs > ul > li > a:not(.active):not(.selected):hover{
  background:#fff;
  text-decoration:none;
  font-weight:normal;
  color:#515151;
  text-shadow:none;
  border:1px solid #bcbcbc;
}
.tabs > ul > li > a.active:hover,
.tabs > ul > li > a.selected:hover{
  opacity:0.95;
}
.tabs .black{
  text-decoration:none;
  margin:0;
  margin-bottom:10px;
  display:inline-block;
  font-size:12px;
}
/*
.tabs > ul{
  list-style:none;
  margin:0;
  padding:0;
  display:block;
  height:28px;
}
.tabs > ul > li{
  float:left;
  margin-right:3px;
  height:28px;
}
.tabs > ul > li a{
  display:block;
  margin-top:-2px;
  height:27px;
  line-height:27px;
  border:1px solid #343943;
  text-decoration:none;
  min-width:50px;
  color:#fff;
  font-size:12px;
  font-weight:bold;
  text-shadow:1px 1px 0px rgba(0,0,0,0.8);
  text-align:center;
  padding:0px 10px;
  display:block;
  border-top-left-radius:4px;
  border-top-right-radius:4px;
  -moz-border-radius-topleft:4px;
  -moz-border-radius-topright:4px;
  -webkit-border-top-left-radius:4px;
  -webkit-border-top-right-radius:4px;
  -webkit-background-clip: padding-box;
  background: #666666;
  background: -moz-linear-gradient(top, #52575f 0%, #343943 4%, #343943 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#52575f), color-stop(2%,#343943), color-stop(100%,#343943)); 
  background: -webkit-linear-gradient(top, #52575f 0%,#343943 4%,#343943 100%);
  background: -o-linear-gradient(top, #52575f 0%,#343943 4%,#343943 100%); 
  background: -ms-linear-gradient(top, #52575f 0%,#343943 4%,#343943 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#52575f', endColorstr='#343943',GradientType=0 );
  background: linear-gradient(top, #52575f 0%,#343943 4%,#343943 100%);
}
.tabs > ul > li a.selected{
  margin-top:-2px;
  height:28px;
  line-height:28px;
  border:1px solid #bcbcbc;
  border-bottom:1px solid #fff;
  text-shadow:1px 1px 0px rgba(255,255,255,0.8);
  color:#515151;
  background: #666666; 
  background: -moz-linear-gradient(top, #ffffff 0%, #e3e3e3 4%, #ffffff 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(2%,#e3e3e3), color-stop(100%,#ffffff));
  background: -webkit-linear-gradient(top, #ffffff 0%,#e3e3e3 4%,#ffffff 100%);
  background: -o-linear-gradient(top, #ffffff 0%,#e3e3e3 4%,#ffffff 100%);
  background: -ms-linear-gradient(top, #ffffff 0%,#e3e3e3 4%,#ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3e3e3', endColorstr='#ffffff',GradientType=0 );
  background: linear-gradient(top, #ffffff 0%,#e3e3e3 4%,#ffffff 100%);
}
.tabs .tab-content{
  font-size:12px;
  border:1px solid #bcbcbc;
  background:#fff; 
  margin-top:-1px;
  padding:10px;
  border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border-top-left-radius:0;
  -moz-border-radius-topleft:0;
  -webkit-border-top-left-radius:0;
  -webkit-background-clip: padding-box;
}

*/

/* =Table
--------------------------------------*/

.tx-table:not(.dataTable){
  width:100%;
  border-collapse: collapse;
}
  .tx-table:not(.dataTable) th{
    text-align:left;
    border-bottom:1px solid #BCBCBC;
  }
  .tx-table:not(.dataTable) tr{
    font-size: 12px;
    text-decoration: none;
    color: #5B6B7A;
    padding: 4px 4px;
    border-top: none;
    border-bottom: none;
    background:#F7F7F7;
  }
  .tx-table:not(.dataTable) tr:nth-child(odd){
    background:#FFF;
  }
  .tx-table:not(.dataTable) tbody tr:hover{
    background: #D2E5F9;
    color: #54A8F1
  }
  .tx-table:not(.dataTable) td,
  .tx-table:not(.dataTable) th {
    padding:4px 22px;
    border-right:1px solid #D9D9D9;
  }
  .tx-table:not(.dataTable) th{
    line-height: 26px;
    background: rgb(247,247,247); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y3ZjdmNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlOGU4ZTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(247,247,247,1) 0%, rgba(232,232,232,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(247,247,247,1)), color-stop(100%,rgba(232,232,232,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(247,247,247,1) 0%,rgba(232,232,232,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(247,247,247,1) 0%,rgba(232,232,232,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(247,247,247,1) 0%,rgba(232,232,232,1) 100%); /* IE10+ */
    background: linear-gradient(top, rgba(247,247,247,1) 0%,rgba(232,232,232,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#e8e8e8',GradientType=0 ); /* IE6-8 */
}
  .tx-table:not(.dataTable) td{
    line-height: 26px;
  }
  .tx-table:not(.dataTable) td .edit,
  .tx-table:not(.dataTable) td .delete{
    padding: 0 5px;
    min-width:20px;
    text-indent:-9999px;
    display:inline-block;
    background-repeat:no-repeat;
    background-position:center center;
  }
  .tx-table:not(.dataTable) td .edit{
    background-image: url(../img/icons/account_edit.png);
  }
  .tx-table:not(.dataTable) td .delete{
    background-image: url(../img/icons/account_delete.png);
  }
  table.dataTable tr.even td.sorting_1{
    background:#F7F7F7 !important;
  }
  table.dataTable tr.odd td.sorting_1{
    background:#DEDEDE !important;
  }
  table.dataTable thead th.sorting_desc,
  table.dataTable thead th.sorting_asc{
    color:#444;
    line-height: 26px;
    background: rgb(232,232,232); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U4ZThlOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkM2QzZDMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(232,232,232,1) 0%, rgba(211,211,211,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(232,232,232,1)), color-stop(100%,rgba(211,211,211,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(232,232,232,1) 0%,rgba(211,211,211,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(232,232,232,1) 0%,rgba(211,211,211,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(232,232,232,1) 0%,rgba(211,211,211,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(232,232,232,1) 0%,rgba(211,211,211,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#d3d3d3',GradientType=0 ); /* IE6-8 */
  }
  
  table.dataTable tbody tr.even:hover td.sorting_1,
  table.dataTable tbody tr.odd:hover td.sorting_1,
  table.dataTable tbody tr.even:hover,
  table.dataTable tbody tr.odd:hover{
    background: #D2E5F9 !important;
    color: #54A8F1 !important;
  }
  #page-main-right{
    line-height:17px;
  }
  #page-main-right.white{
    background-color:#ffffff;
  }
  #page-main-right li{
    /*margin-left:15px;*/
  }
  
  #page-main-right ul.pagetypes-list li{
    margin-left:6px;
    overflow:hidden;
  }
  
  #page-main-right .paginate_disabled_next,
  #page-main-right .paginate_enabled_next,
  #page-main-right .paginate_enabled_previous,
  #page-main-right .paginate_disabled_previous{
    line-height:19px !important;
  }
  #page-main-right .paginate_disabled_next{
    padding-right:15px;
    background: url(../img/buttons/forward_disabled.png) no-repeat right center !important;
  }
  #page-main-right .paginate_enabled_next{
    padding-right:15px;
    background: url(../img/buttons/forward_enabled.png) no-repeat right center !important;
  }
  #page-main-right .paginate_enabled_next:hover{
    padding-right:15px;
    background: url(../img/buttons/forward_enabled_hover.png) no-repeat right center !important;
  }
  #page-main-right .paginate_disabled_previous{
    padding-left:15px;
    background: url(../img/buttons/previous_disabled.png) no-repeat left center !important;
  }
  #page-main-right .paginate_enabled_previous{
    padding-left:15px;
    background: url(../img/buttons/previous_enabled.png) no-repeat left center !important;
  }
  #page-main-right .paginate_enabled_previous:hover{
    padding-left:15px;
    background: url(../img/buttons/previous_enabled_hover.png) no-repeat left center !important;
  }
  .tx-table.dataTable{
/*
    margin-top:10px;
    margin-bottom:10px;
*/
  }
  .dataTables_length,
  .dataTables_filter{
    margin-bottom:10px;
  }
  #page-main-right .dataTables_wrapper{
  
  }
  .dataTables_wrapper:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
	}
  .dataTables_wrapper { display: inline-table; }
  .dataTables_wrapper { height: 1%; }
  .dataTables_wrapper { display: block; }
  
  /* UPLOAD COMPONENT */
  .plupload-container .header{
    text-align:center;
  }
  .plupload-container .drop{
    border:1px solid #999;
    background:#eee;
  }
  .plupload-container .drop .drag-here{
    padding:80px 0px;
    color:#aaa;
    text-align:center;
    font-size:16px;
    line-height:21px;
  }
  .plupload-container .buttonHolder{
    text-align:right;
    margin-top:10px;
  }
  .plupload-container .buttonHolder a{
    background:#999;
    color:#fff;
    padding:5px;
    margin:5px 0px 5px 5px;
    line-height:2em;
  }
  .plupload-container .filelist{
    position:absolute;
    top:1px;
    left:1px;
    right:1px;
    height:181px;
    overflow:auto;
  }
  .plupload-container .filelist i{
    font-size:75%;
    color:#777;
  }
  .plupload-container .filelist div{
    padding:2px 5px;
    background:#ccc;
    color:#333;
    border-bottom:1px solid #999;
  }
  .plupload-container .filelist .error{
    background:#e77;
    color:#fff;
  }


/*
  Config pages, new navigators
*/
.config-navigation{
  list-style:none;
  float:left;
  width:18%;
  margin-right:2%;
  border-bottom:1px solid #000;
}
  .config-navigation li{
    display:block;
  }
  .config-navigation .nav-item{
    display:block;
    overflow:hidden;
    padding:10px 20px;
    font-size:120%;
    text-decoration:none;
    border:1px solid #000;
    border-bottom:none;
  }

.config-content-pane{
  float:left;
  width:80%;
}


/*
  Config pages, multi-language settings tabs
*/
.language-tabs{
}
  .language-tabs .content{
    border:1px solid #ccc;
    padding:2em;
    border-radius:3px;
  }
  .language-tabs .tabs{
    list-style:none;
    display:block;
    width:100%;
    padding-left:10px;
  }
  .language-tabs .tabs li{
    display:inline;
  }
    .language-tabs .tabs a{
      display:inline-block;
      margin:2px;
      background:#ddd;
      padding:0 10px;
      line-height:27px;
      border-radius:3px 3px 0 0;
    }
    .language-tabs .tabs a.selected{
      background:#fff;
      border:1px solid #ccc;
      margin:1px;
    }
