/af.js
/ar.js
/bg.js
/bn.js
/bs.js
/ca.js
/cs.js
/cy.js
/da.js
/de.js
/el.js
/en-au.js
/en-ca.js
/en-gb.js
/eo.js
/es.js
/et.js
/eu.js
/fa.js
/fi.js
/fo.js
/fr-ca.js
/fr.js
/gl.js
/gu.js
/he.js
/hi.js
/hr.js
/hu.js
/is.js
/it.js
/ja.js
/ka.js
/km.js
/ko.js
/ku.js
/lt.js
/lv.js
/mk.js
/mn.js
/ms.js
/nb.js
/no.js
/pl.js
/pt-br.js
/pt.js
/ro.js
/ru.js
/sk.js
/sl.js
/sr-latn.js
/sr.js
/sv.js
/th.js
/tr.js
/ug.js
/uk.js
/vi.js
/zh-cn.js
/zh.js
