.reset {
  clear:both
}
.hidden, *[hidden] {
  display:none
}

/* =topbar menu
-------------------------------------------------------------- */
#topbar_menu{
  position:fixed;
  top:0px;
  right:18px;
  margin:0;
  padding:0;
  list-style:none;
  z-index:50;
}
#topbar_menu > li{
  float:left;
  margin-left:7px;
  margin-top:11px;
  background:url('../../themes/custom/cms_backend/img/icons/topbar/button.png') center center no-repeat;
}
#topbar_menu > li > a{
  line-height:20px;
  color:#fff;
  text-decoration:none;
  display:inline-block;
  text-indent:-9999px;
  width:31px;
  height:31px;
  position:relative;
  background:center center no-repeat;
  opacity:0.5;
}
#topbar_menu li.website-edit{
  display:none;
}
#topbar_menu li.user-menu a{
}
#topbar_menu li.website a{
  background-image:url('../../themes/custom/cms_backend/img/icons/topbar/website.png');
}
#topbar_menu li.website-edit a{
  background-image:url('../../themes/custom/cms_backend/img/icons/topbar/website_edit.png');
}
#topbar_menu li.advanced-edit a{
  background-image:url('../../themes/custom/cms_backend/img/icons/topbar/advanced_edit.png');
}
#topbar_menu li.advanced a{
  background-image:url('../../themes/custom/cms_backend/img/icons/topbar/advanced.png');
}
#topbar_menu li:hover a,
#topbar_menu li.active a{
  opacity:1;
}

#topbar_menu li.user-menu a{
  width:auto;
  padding-right:35px;
  text-indent:0;
}
